<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
    <add name="fishConnectionString2" connectionString="Data Source=tcp:s14.winhost.com;Initial Catalog=DB_111487_fish;Integrated Security=False;User ID=DB_111487_fish_user;Password=t172b1vertex" providerName="System.Data.SqlClient" />
  <add name="fishConnectionString3" connectionString="Data Source=tcp:lepsik.no-ip.biz,1433;Initial Catalog=EnvionX;Integrated Security=False;User ID=sa;Password=t172b1vertex" providerName="System.Data.SqlClient"/>
  -->
<configuration>
  <location path="Resources">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="Editor">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <connectionStrings>
    <add name="xConnectionString" connectionString="Data Source=tcp:s19.winhost.com;Initial Catalog=DB_111487_fish;Integrated Security=False;User ID=DB_111487_fish_user;Password=t172b1vertex" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="99"/>
    </authentication>
    <membership>
      <providers/>
    </membership>
    <profile>
      <providers/>
    </profile>
    <roleManager enabled="false">
      <providers/>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.5"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>