h2 {
	font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	margin-bottom: 10px;
	font-size: 25px;
	color: #1568b1;
}
#googlemap, #yandexmap , #openlayer {
height: 400px;
}
.button {
	font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #1568b1;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	padding: 10px 0px;
	margin: 10px 0px;
	text-align: center;
	width: 100%;
}
.button:hover {
	background-color: #1B86E4;
	text-decoration: none;
}